body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
header{
    display: flex;
    flex-direction: column;
}
.header-line{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.pd-head{
    padding: 15px 150px;
}
.text-norm{
    font-size: 26px;
    font-weight: 500;

}
.c-bl{
    color: rgb(100, 191, 230);
}
.header-nav{
    display: flex;
    justify-content: space-around;
    width: 35%;

}
.text-nav{
    font-size: 16px;
    font-weight: 300;
    color: rgb(165, 163, 163);
}
.header-img{
    background-image: url(../img/photo1657551472.jpeg);
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
.header-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 30px;
    font-weight: 500;
    color: white;
}
button{
    background-color: rgb(215, 61, 141);
    padding: 15px 20px;
    border: none;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 60px;
}
.header-services{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.block-icon{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}
.text-small{
    font-size: 14px;
    font-weight: 400;
    color: rgb(165, 163, 163);
}
.ta-c{
    text-align: center;
}
.img-icon{
    width: 35px;
    height: 35px;
}
main{
    background-color: rgb(248, 248, 248);
    margin-top: 50px;
    padding-bottom: 20px;
    box-sizing: border-box;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2{
    margin-top: 45px;
}
.main-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}
.main-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 40px;

}
h3{
    font-size: 22px;
    font-weight: 500;
}
footer{
    background-color: rgb(0, 15, 45);
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 20px 0;
    box-sizing: border-box;
}
.c-wh{
    color: white;
    font-weight: 400;
}
.footer-nav{
    display: flex;
    justify-content: space-between;
    width: 20%;
    align-items: center;
}
.text-footer{
    font-size: 12px;
    font-weight: 400;
}